* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #eeeeee;
}

.page {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  background: #ffffff;
  min-height: 100vh;
}

/* 프로필 영역 */

.profile {
  position: relative;
  padding: 24px 20px 44px;
  /* border-bottom: 1px solid #e9e9e9; */
}

.left {
  width: calc(100% - 120px);
}

.name {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 4px;
}

.role {
  font-size: 13px;
  color: #666;
  margin: 0 0 16px;
}

.counts {
  display: flex;
  gap: 24px;
  font-size: 12px;
  padding-top: 16.06px;
  color: #666;
}

.counts b {
  color: #222;
}

/* 프로필 이미지 */
.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;

  position: absolute;
  top: 24px;
  right: 20px;
}

/* 구독중 버튼*/
.subscribe-btn {
  position: absolute;
  top: calc(24px + 80px + 26.33px);
  right: 20px;

  padding: 8px 22px;
  font-size: 14px;
  border: none;
  border-radius: 999px;
  background: #00c7ae;
  color: #fff;
  cursor: pointer;
}

게시글 영역 .posts {
  padding-bottom: 60px;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post {
  padding: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.tag {
  margin: 0 0 6px;
  font-size: 12px;
  font-weight: 600;
  color: #00c7ae;
}

.post h3 {
  margin: 0 0 8px;
  font-size: 15px;
  font-weight: 600;
}

.post h3 a {
  color: #222;
  text-decoration: none;
}

.desc {
  margin: 0 0 8px;
  font-size: 13px;
  color: #666;
  line-height: 1.45;
}

.date {
  margin: 0;
  font-size: 12px;
  color: #999;
}
