/* reset, 웹접근성 연결, 전역 폰트 적용 */
@import './base.css';

footer {
  max-width: 35rem;
  margin: 0 auto;
  background-color: #333;
  padding: 1rem 1rem 2rem 1rem;
  /* text-align: center; */
}

footer a {
  margin-right: 10px;
  color: #959595;
  font-weight: 400;
  line-height: 20px;
}

.footer-link-font a {
  color: #f8f8f8;
}

footer a:last-child {
  margin-right: 0;
}

.sns-logo {
  padding: 2rem 7.2rem;
}

.footer-links ul {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  padding: 2rem 0;
  gap: 0.2rem;
}

.footer-links li {
  white-space: nowrap;
  margin: 0 0.5rem 0 0;
  flex: 0 1 auto; /* 줄어들 수 있게 */
  text-align: center;
  font-size: 0.75rem;
}

.sns-logo img {
  width: 23px;
  height: 23px;
}

.footer-logo {
  padding: 0 0 1rem 0;
  display: block;
  margin: 0 auto;
}
