/* reset, 웹접근성 연결, 전역 폰트 적용 */
@import './base.css';
.header h1 {
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 700;
}
.header h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0;
}
.header h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.8rem 0;
}
.header h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.6rem 0;
}
.header h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.4rem 0;
}
.header h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.3rem 0;
}

.header {
  /* background-color: #fff; */
  padding-inline: 20px;
  padding-block: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header nav a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header a {
  text-decoration: none;
  /* color: rgba(0, 0, 0, 0.788); */
}

.header li {
  list-style: none;
}

.header .alarm-btn,
.header .profile-btn {
  display: none;
}

.header.login .alarm-btn,
.header.login .profile-btn {
  display: inline-flex;
}

.header .search-btn {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 5.5px 5.98px 5.98px 5.5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.header .start-btn {
  display: flex;
  width: 62px;
  height: 24px;
  padding: 4px 12.91px 5px 13.12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: #231f20;
  color: #fff;
}

.profile-btn img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover; /* 이미지가 안 늘어나고 꽉 차게 */
  display: block;
}

/* ---------------- 드롭 다운 영역 ---------------------- */
.profile-dropdown-wrapper {
  position: relative;
}

.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 0;
  width: 120px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.profile-dropdown li {
  white-space: nowrap;
  list-style: none;
  padding: 10px 14px;
  font-size: 0.9rem;
}

.profile-dropdown li:hover {
  background: #f5f5f5;
}

.profile-dropdown.show {
  display: block;
}

.logout-btn {
  cursor: pointer;
  color: #8d4e8e;
}

/* 클릭 전-후, active, hover 모두 색 고정 */
.profile-dropdown a:link,
.profile-dropdown a:visited,
.profile-dropdown a:hover,
.profile-dropdown a:active {
  color: #333;
  text-decoration: none;
}

/* ------ 오른쪽 버튼 3개 높이 통일 ------ */
.header nav a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
