@import '/src/styles/base.css';
@import '/src/styles/reset.css';

body {
  .login-join {
    h1 {
      margin-top: 14px;
      text-align: center;
      font-weight: 600;
      line-height: 22px;
      margin-bottom: 44px;
    }
    fieldset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .form-group {
        margin-bottom: 36px;
        display: flex;
        height: 43px;
        width: 320px;
        border-bottom: 1px solid #d7d7d7;
        justify-content: space-between;
        align-items: center;
      }
      .form-group-pwd {
        margin-top: 3px;
        display: flex;
        height: 43px;
        width: 320px;
        border-bottom: 1px solid #d7d7d7;
        justify-content: space-between;
        align-items: center;
      }
      .form-group-pwd-check {
        margin-top: 3px;
        display: flex;
        height: 43px;
        width: 320px;
        border-bottom: 1px solid #d7d7d7;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 110px;
      }
      #nickName {
        display: flex;
        border: none;
        flex-direction: column;
        justify-content: center;
        height: 17.5px;
        width: 220px;
      }
      #email {
        display: flex;
        border: none;
        flex-direction: column;
        justify-content: center;
        height: 17.5px;
        width: 220px;
      }

      button {
        display: inline-flex;
        font-size: 13px;
        line-height: 29px;
        color: #00c6be;
        background-color: #fff;
        border-radius: 999px;
        padding: 0 10px;
        align-items: center;
        border: 1px solid #00c6be;
      }

      #password {
        display: flex;
        border: none;
        flex-direction: column;
        justify-content: center;
        height: 17.5px;
        width: 220px;
      }
      #passwordCheck {
        display: flex;
        border: none;
        flex-direction: column;
        justify-content: center;
        height: 17.5px;
        width: 220px;
      }
    }
  }
  .btn-join {
    width: 320px;
    display: block;
    margin: 0 auto;
    padding: 13.75px 0 13.25px 0;
    /* background-color: #00c6be; */
    background-color: #aaa;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
}
