@import '/src/styles/base.css';
@import '/src/styles/reset.css';
/* 필드셋의 리셋이 적용되지 않는 이슈 */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  fieldset {
    border: none;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
  }
  .sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .main-img {
    margin-top: 50px;
  }
  .login-input {
    margin-top: 3px;
    font-size: 16px;
    width: 100%;
    height: 20px;
    padding: 8px 0;
    border-width: 0 0 1px;
  }
  .id-remember-btn {
    margin-top: 26.5px;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 50%;
    border: none;
  }
  .remember-login-check {
    display: flex;
    margin-top: 26.5px;
    gap: 8px;
    align-items: center;
  }
  .btn-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .login-btn {
      font-size: 14px;
      color: #fff;
      background-color: #aaa;
      width: 320px;
      padding: 13.75px 0;
      border-radius: 4px;
      border: none;

      flex-shrink: 0;
      justify-content: center;
      align-items: center;
    }

    .login-btn.active {
      font-size: 14px;
      color: #fff;
      background-color: #00c6be;
      width: 320px;
      padding: 13.75px 0;
      border-radius: 4px;
      border: none;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .join-btn {
      font-size: 14px;
      color: #00c6be;
      background-color: #fff;
      width: 100%;
      padding: 13.75px 0;
      border-radius: 4px;
      border: 1px solid #00c6be;
      justify-content: center;
      align-items: center;
    }
  }
}
