header {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-btn {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 5.5px 5.98px 5.98px 5.5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.start-btn {
  display: flex;
  width: 62px;
  height: 24px;
  padding: 4px 12.91px 5px 13.12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: #231f20;
  color: #fff;
}

/* html,
body {
  height: 100%;
  overflow-x: hidden;
} */

.swiper {
  width: 200px; /* li 한 칸 크기 (필요에 맞게 조정) */
  overflow: hidden; /* 보이는 영역만 표시 */
}

.swiper ul {
  display: flex;
  gap: 1rem;
}

.swiper img {
  width: 200px;
  height: 350px;
}

.author-list {
  /* border-bottom: 1px solid #ddd; */
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  /* color: rgba(0, 0, 0, 0.788); */
}

li {
  list-style: none;
}

.award-books a {
  color: black;
}

footer {
  background-color: #333333;
  padding: 1rem;
  text-align: center;
}

footer a {
  margin-right: 10px;
  color: #f8f8f8;
}

footer a:last-child {
  margin-right: 0;
}

.footer-links {
  width: 285px;
  height: auto;
  flex-shrink: 0;
}

.book-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-logo img {
  width: 23px;
  height: 23px;
}
