/* reset, 웹접근성 연결, 전역 폰트 적용 */
@import './../../styles/base.css';

/* header */
header {
  padding-inline: 1.25rem;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #eeeeee;
}

header > button,
header > a {
  all: unset;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

h1 {
  font-size: 19px;
  font-weight: 600;
}

button.write-btn.undone > img:nth-of-type(2) {
  display: none;
}

button.write-btn.done > img:nth-of-type(1) {
  display: none;
}

/* main (글쓰기 input) */

main input,
main textarea {
  all: unset;
  font-weight: 300;
}

main input:placeholder-shown,
main textarea:placeholder-shown {
  color: #959595;
}

.form-row:nth-of-type(1),
.form-row:nth-of-type(2) {
  box-sizing: border-box;
  height: 70px;
  border-bottom: solid 1px #eeeeee;
  display: flex;
  align-items: center;
}

.form-row {
  padding-inline: 20px;
  box-sizing: border-box;
}
.form-row:nth-last-of-type(2) {
  padding-block: 15px;
}
.input-title {
  font-size: 24px;
}

.input-subtitle {
  font-size: 20px;
}

.input-title,
.input-subtitle {
  width: 100%;
  box-sizing: border-box;
}
.input-content {
  height: calc(100dvh - 140px - 84px - 50px - 25px - 10px - 70px - 40px);
  font-size: 20px;
  line-height: 30px;
  width: calc(100vw - 40px);
  white-space: pre-wrap; /* 자동 줄바꿈 */
  overflow-x: hidden; /* 가로 스크롤 제거 */
  overflow-y: scroll;
  scrollbar-width: none;
  word-wrap: break-word;
}

.input-content.left {
  text-align: left;
}

.input-content.center {
  text-align: center;
}

.input-content.right {
  text-align: right;
}

.input-tags {
  background-color: #eeeeee;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: scroll;
  padding-inline: 20px;
  border-bottom: solid 1px #eeeeee;
}
.image-preview {
  display: none;
  align-items: center;
  height: 70px;
  padding-inline: 20px;
  border-top: solid 1px #eeeeee;
  box-sizing: border-box;
  gap: 10px;
}

.image-preview.on {
  display: flex;
}
.preview-image {
  display: block;
  width: 50px;
  height: 50px;
  background-color: black;
}
.image-preview p {
  align-self: end;
  padding-block-end: 10px;
  font-weight: 700;
}
.write-tools {
  height: 84px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  padding-block: 22px;
  padding-inline: 25px;
  display: flex;
  gap: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.file-hidden {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.write-tools button {
  all: unset;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.write-tools label {
  cursor: pointer;
}

.write-tools label {
  width: 40px;
  height: 40px;
}

.write-tools button:nth-of-type(2) {
  margin-left: auto;
}

.toast-message {
  width: 300px;
  height: 200px;
  border: solid 2px #eeeeee;
  border-radius: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
  padding-block-start: 60px;
  padding-block-end: 40px;
  justify-content: space-between;
  box-sizing: border-box;
}

.toast-message.on {
  display: flex;
}
.message-text {
  font-size: 15px;
}

.close-btn {
  all: unset;
  background-color: #eeeeee;
  width: 170px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
